@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}

:root {
  --white: #fff;
  --whitesmoke: #f9f9f9;
  --light-grey: #ececec;
  --grey: #c4c4c4;
  --medium-grey: #a7a7a7;
  --deep-grey: #343434;
  --black: #000000;
  --blue: #1b77f3;
  --red: #ea0028;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(35px, 8%, 80px);
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
}

.login_logo {
  width: 130px;
  margin-bottom: 80px;
  margin-top: 20px;
}

.login_title {
  color: var(--deep-grey);
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.login_label {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

.input {
  width: 100%;
  background-color: var(--light-grey);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  outline: none;
  font-size: 0.9rem;
  padding: 25px 10px 10px;
  font-weight: 600;
  color: var(--deep-grey);
}

.login_label span {
  position: absolute;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--medium-grey);
  margin: 20px;
  cursor: text;
  transition: all 200 ease;
}

.input:focus {
  background-color: var(--whitesmoke);
  border: 2px solid var(--deep-grey);
}

.login_label .span-active {
  font-size: 0.7rem;
  margin: 8px 10px;
}

.login_icons {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.login_icons img {
  width: 20px;
}

.icons_button {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.login_icons .icons_button:nth-child(1) {
  background-color: var(--blue);
}

.login_icons .icons_button:nth-child(2) {
  background-color: var(--light-grey);
}

.login_icons .icons_button:nth-child(3) {
  background-color: var(--black);
}

.login_label--checkbox {
  width: 100%;
  margin: 15px 0px 50px;
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.input--checkout {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--light-grey);
  border-radius: 3px;
  margin-right: 8px;
}

.input--checkout:checked {
  background-color: var(--red);
}

.input--checkout:checked:after {
  content: "";
  display: block;
 width: 5px;
 height: 10px;
 border:3px solid var(--whitesmoke);
 border-width: 0 3px 3px 0;
 transform: rotate(45deg);
 margin:2px 6px
}

.login__button{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red);
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.login__button svg{
  width: 20px;
  fill: white;
}